* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f4f4;
}

header {
    background: #333;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.section {
    padding: 40px;
    text-align: center;
}

.skills span {
    background: #333;
    color: white;
    padding: 8px 15px;
    margin: 5px;
    display: inline-block;
    border-radius: 5px;
}

.projects {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 20px;
    width: 200px;
    box-shadow: 0 0 10px gray;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Responsive */
@media (max-width: 600px) {
    header {
        flex-direction: column;
        text-align: center;
    }
}
